@media screen and (max-width: 600px){
    body{
        background: #000;
    }
    .continar{
        width: 95%;
        padding: 15px;
        margin:20px auto;
    }
    .time{
        font-size: 2rem;
    }
   h1{
    font-size: 1.2rem;
  }
  .continar button{
    width: 80px;
    height: 35px;
    font-size: 0.9rem;
  }
}