*{
    margin:0px;
    padding:0px;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#fff;
}
body{
    height: 100vh;
    background-color: #000;
}
.continar{
    width: 600px;
    height: 350px;
    position: relative;
    background-color: rgba(36, 37, 37, 0.466);
    box-shadow: 0px 0px 15px #686868;
    border-radius: 15px;
    text-align: center;
    left:30%;
    top:190px;
}
.continar h2{
    position: absolute;
    top:50px;
    left:130px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color:rgba(240, 240, 240, 0.774)
}
.continar .time{
    position: absolute;
    top:30%;
    left:37%;
    font-weight: 600;
    font-size: 2.7rem;
}
.continar button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 38px;
    padding: 15px;
   border-radius: 8px;
   border:1px #868686 solid;
   box-shadow: 0px 0px 15px #6868687c;
   background: transparent;
   font-size: 1.2rem;
   color:#686868;
   top:55%;
   left:20%;
   cursor: pointer;
   transition: 0.3s 0.0s ease;
}
.continar button:hover{
color:#fff;
}
.continar button:active{
    animation:active 0.3s ease;
}
.start{
    margin-left: 30px;
}
.stop{
    margin-left:140px;
}
.reset{
    margin-left: 250px;
}
@keyframes active {
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}