*{
    margin:0px;
    padding:0px;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#fff;
}
body{
    height: 100vh;
    background-color: #000;
}
.continar{
position: relative;
    max-width: 600px;
    width: 90%;
    height: auto;
    padding: 20px;
    margin:50px auto;
    background-color: rgba(36, 37, 37, 0.466);
    box-shadow: 0px 0px 15px #686868;
    border-radius: 15px;
    text-align: center;
}
.continar h2{
    position: relative;
    top:0px;
    left:0px;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color:rgba(240, 240, 240, 0.774)
}
.continar .time{
    position: relative;
    top:0;
    left:0;
    font-weight: 600;
    font-size: 2.7rem;
    margin-bottom: 30px;
}
.continar .bottons{
margin-left: 15px;
text-align: center;

}
.continar button{
  position: relative;
    width: 100px;
    height: 40px;
   border-radius: 8px;
   border:1px #868686 solid;
   box-shadow: 0px 0px 15px #6868687c;
   background: transparent;
   font-size: 1.2rem;
   color:#686868;
   cursor: pointer;
   transition: 0.3s 0.0s ease;
}
.continar button:hover{
color:#fff;
}
.continar button:active{
    animation:active 0.3s ease;
}

@keyframes active {
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}